<div class="card-wrapper" appDraggable [reducedMotion]="!reducedMotion" [draggable]="!reducedMotion" [class.open]="isOpen()">
<div class="card" [style.transform]="cardTransform">
  <div class="card__face card__center-left"></div>
  <div class="card__face card__front" tabindex="0" (focus)="focus('face')">
    <div class="image-container" id="imageContainer">
      @if (loading()) {
        <div class="loading-state">
          <div class="loading"></div>
        </div>
      }
      <img ngSrc="assets/images/new-job.webp" [alt]="'champagne glass'" priority fill id="dynamicImage">
    </div>
  </div>
  <div class="card__face card__back"><div class="logo"></div></div>
  <div class="card__face card__center-right">
      <p class="salutation" tabindex="0" (focus)="focus('inside')" (click)="editContent($event, 'salutation')" >{{salutation()}}</p>
      <p (focus)="focus('inside')" tabindex="0"  (click)="editContent($event, 'cardMessage')">{{cardMessage()}}</p>
      <p class="sign-off" tabindex="0" (focus)="focus('inside')" (click)="editContent($event, 'signOff')" >{{signOff()}}</p>
  </div>
</div>
</div>
