.card-wrapper{
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 100%;
  }
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 100em;
  transform-style: preserve-3d;
  background-color: transparent;
  overflow-y: scroll;
  cursor: grab;
  .card{
    @media screen and (min-width: 600px) {
      width: 15em;
      height: 20em;

    }
    position: relative;
    width: 10em;
    height: 15em;
    transform-style: preserve-3d;
    transform-origin: center;
    transition:   rotate 0.3s ease-in, translate 0.3s ease-in;
    .card__face{
      position: absolute;
      top: 0px;
      left: 0px;
      transition: transform 0.3s ease-in;
      transform-origin: left;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      &.card__center-left{
        background-color: rgb(249, 249, 249);
        transform: rotateY(-10deg) rotateX(180deg);
        box-shadow: 4px 0px 4px 0px #888888;
        border-left: 0.5px dashed #464646;
        p{
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate3d(0, 0, 1, 180deg);
        }
      }
      &.card__front{
        background-image: url('../images/shutterstock_2152511439.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: whitesmoke;
        transform: rotateY(-10deg);
        box-shadow: 4px 0px 4px 0px #888888;
      }

      &.card__center-right{
        background-color: rgb(249, 249, 249);
        transform: rotateY(20deg);
        box-shadow: 4px 0px 4px 0px #888888;
        border-left: 0.5px dashed #464646;
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          text-wrap: wrap;
          flex-direction: column;
          width: 65%;
          height: 33%;
          text-align: center;
          margin:auto;
          font-family: Georgia, 'Times New Roman', Times, serif;
          cursor: pointer;
          &.salutation{
            width: calc(100% - 2em);
            margin: 0em 1em;
            align-items: flex-start;
            justify-content: flex-start;
            font-family: "Ephesis", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 1.2em;
            padding-top: 0.5em;
          }
          &.sign-off{
            font-size: 1.2em;
            font-family: "Ephesis", cursive;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
      &.card__back{
        transform: rotateY(20deg) rotateX(180deg);
        box-shadow: 4px 0px 4px 0px #888888;
        background-color: whitesmoke;
        border-left: 1px solid #464646;
        .logo{
          margin: 1em 0.5em;
          width: 50%;
          height: 2em;
          transform-origin: center;
          background-image: url('../images/shutterstock_2152511439.jpg');
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: 80%;
          transform-style: preserve-3d;
          transform: rotateX(-180deg) rotateY(-180deg);
        }
      }
    }
  }
  &.smooth-transition{
    cursor: grabbing;
    .card{
      div {
        transition: transform 0.2s ease-in;
      }
    }
  }
  &.open{
    .card{
      div{

        &.card__center-left{
          transform: translateX(50%) rotateY(-120deg) rotateX(180deg);

        }
        &.card__front{
          transform: translateX(50%) rotateY(-119.9deg);
        }
        &.card__center-right{
          transform: translateX(50%) rotateY(20deg);
        }
        &.card__back{
          transform: translateX(50%) rotateY(20.1deg) rotateX(180deg);
        }
      }
    }
  }
}
.card-transform-buttons-container{
  @media screen and (max-width: 600px) {
    width: 100vw;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -3;
    z-index: 9998;
  }
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: auto;
  width: auto;
  padding: 1em;
  margin: 0.5em;
}
