
  <sidebar class="side-panel" [ngClass]="{'collapse': isSidebarCollapsed}">
    <div class="scrollable-container">
      <button class="btn btn-action btn-action__collapse" role="button" aria-label="Toggle sidebar collapse" (click)="isSidebarCollapsed = !isSidebarCollapsed">
        <i class="fa-solid" [ngClass]="isSidebarCollapsed ? 'fa-arrow-right' : 'fa-arrow-left'"></i>
      </button>
    <form [formGroup]="cardActionsForm">
      <div class="nice-form-group">
        <label for="occasions">Select an occasion</label>
        <select id="occasions" [tabindex]="isSidebarCollapsed ? -1 : 0" aria-label="Dropdown to choose an occasion for card" formControlName="occasions" (focus)="focus('inside')" (change)="suggestByOccasion()">
          <option *ngFor="let occasion of occasions | async | keyvalue" [value]="occasion.key">{{occasion.value["title"]}}</option>
        </select>
      </div>
      <div class="nice-form-group salutation-container">
        <label for="salutationField">Write a salutation for your card here:</label>
        <input type="text" id="salutationField" [tabindex]="isSidebarCollapsed ? -1 : 0"  [maxlength]="20" formControlName="salutation" aria-label="Text input, limited to 20 characters to write the salutation inside of the card" (focus)="focus('inside')"/>
      </div>
      <div class="nice-form-group cardMessage-container">
        <label for="cardMessageField">Write a message for your card here:</label>
        <textarea id="cardMessageField" [tabindex]="isOpen ?  0 : -1"  formControlName="cardMessage" [maxlength]="50" aria-label="Text area limited to 50 characters to write the inside central message of the card" rows="3" (focus)="focus('inside')"></textarea>
      </div>
      <div class="nice-form-group signOff-container">
        <label for="signOffField">Write a sign off for your card here:</label>
        <input type="text" id="signOffField" [tabindex]="isSidebarCollapsed ? -1 : 0" [maxlength]="30" aria-label="Text input, limited to 30 characters to write the sign off inside of the card" formControlName="signOff" (focus)="focus('inside')"/>
      </div>
    </form>
    <form style="height: auto;" [formGroup]="searchForm">
      <div class="nice-form-group topics-container">
        <label for="topicDropdown">Search Topic</label>
        <select id="topicDropdown" [tabindex]="isSidebarCollapsed ? -1 : 0" aria-label="Dropdown to choose a topic to search under for the front face of the card" formControlName="topics" (focus)="focus('face')">
          <option *ngFor="let topic of topics | async" [value]="topic.slug">{{topic.title}}</option>
        </select>
      </div>
      <div class="nice-form-group search-query-container">
        <label for="query">Search an image:</label>
        <input type="search" [tabindex]="isSidebarCollapsed ? -1 : 0"  aria-label="Text input to search a random photo on your chosen query" id="query" formControlName="query" (focus)="focus('face')" />
      </div>
      <div class="nice-form-group button-container">
        <button class="btn btn-action" [tabindex]="isSidebarCollapsed ? -1 : 0" aria-label="Submit search for new card face image"  role="submit" (click)="searchCardFace()">Submit</button>
        <button class="btn btn-action" [tabindex]="isSidebarCollapsed ? -1 : 0"  aria-label="Reset search topic and query fields to blank" role="button" (click)="searchForm.reset()">Reset</button>
      </div>
      <div class="feedback-container">
        <small class="feedback">Requests are limited to 50 per hour. {{counter}} / 50 Remaining</small>
      </div>
    </form>
    <div class="side-panel__search-history-container">
      <div class="side-panel__search-history" *ngIf="_cardFaceHistory">
        <div class="image-container" *ngFor="let image of _cardFaceHistory">
          <link rel="preload" as="image" href="./assets/images/new-job.webp" type="image/webp">
          <div *ngIf="loading" class="loading-state">
            <div class="loading loading__small"></div>
          </div>
          <img [ngSrc]="image.srcThumb" [tabindex]="isSidebarCollapsed ? -1 : 0" fill [alt]="image.alt" [title]="image.alt" (click)="changeCardFace(image.src, image.alt)" (keydown.enter)="changeCardFace(image.src, image.alt)">
        </div>
      </div>
    </div>
    </div>
  </sidebar>
  <main>

  <app-card [salutation]="salutation" [cardMessage]="cardMessage" [signOff]="signOff" [isOpen]="isOpen" [loading]="loading"></app-card>

  <div class="card-transform-buttons-container" >
    <button class="btn btn-action btn-action__card-transform" role="button" title="Zoom in on card" (click)="transformCard('z', -5)"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
    <button class="btn btn-action btn-action__card-transform" role="button" title="Zoom out on card" (click)="transformCard('z', 5)"><i class="fa-solid fa-magnifying-glass-minus"></i></button>
    <button class="btn btn-action btn-action__card-transform" role="button" title="Flip card in an upwards direction" (click)="transformCard('x', -30)"><i class="fa-solid fa-arrow-up"></i></button>
    <button class="btn btn-action btn-action__card-transform" role="button" title="Flip card in an downwards direction" (click)="transformCard('x')"><i class="fa-solid fa-arrow-down"></i></button>
    <button class="btn btn-action btn-action__card-transform" role="button" title="Rotate card to the left of the face" (click)="transformCard('y')"><i class="fa-solid fa-arrow-rotate-left"></i></button>
    <button class="btn btn-action btn-action__card-transform" role="button" title="Rotate card to the right of the face" (click)="transformCard('y', -30)"><i class="fa-solid fa-arrow-rotate-right"></i></button>
    <button class="btn btn-action btn-action__card-transform" role="button" title="{{isOpen ? 'Close' : 'Open'}} card" (click)="focus(isOpen ? 'face': 'inside')"><i class="fa-solid" [ngClass]="isOpen ? 'fa-book' : 'fa-book-open'"></i></button>
  </div>
</main>
