@import './assets/styles/main.scss';

/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: rotate 0, translate 0 !important;
}
body{
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.scrollable-container{
  overflow-y: scroll;
  padding: 0em 3em;
  padding-top: 2em;
}

main{
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
